<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1072797159607-12pjf6m7oa6s5tujfcg9jpo0np0a72ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072797159607-12pjf6m7oa6s5tujfcg9jpo0np0a72ks</string>
	<key>API_KEY</key>
	<string>AIzaSyAv5T4C_dGAwgusbYfJzGg71dTfw2K809U</string>
	<key>GCM_SENDER_ID</key>
	<string>1072797159607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rozoalex.BrandeisClassSearchIPHONE.ClassScheduleWidget</string>
	<key>PROJECT_ID</key>
	<string>classsearch-179fb</string>
	<key>STORAGE_BUCKET</key>
	<string>classsearch-179fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072797159607:ios:9746151ed0d242a2</string>
	<key>DATABASE_URL</key>
	<string>https://classsearch-179fb.firebaseio.com</string>
</dict>
</plist>
